<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>博客设置/分类管理 Johnny的博客 - SYSIT个人博客</title>
    <link rel="stylesheet" href="/stylesheets/space2011.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.css" media="screen">
    <script type="text/javascript" src="/javascripts/jquery-1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery_002.js"></script>
    <script type="text/javascript" src="/javascripts/oschina.js"></script>
    <style type="text/css">
        body, table, input, textarea, select {
            font-family: Verdana, sans-serif, 宋体;
        }
    </style>
</head>
<body>
<!--[if IE 8]>
<style>ul.tabnav {
    padding: 3px 10px 3px 10px;
}</style>
<![endif]-->
<!--[if IE 9]>
<style>ul.tabnav {
    padding: 3px 10px 4px 10px;
}</style>
<![endif]-->
<div id="OSC_Screen"><!-- #BeginLibraryItem "/Library/OSC_Banner.lbi" -->
    <% include header.ejs %>
    <div id="OSC_Content">
        <div id="AdminScreen">
            <div id="AdminPath">
                <a href="index_logined.htm">返回我的首页</a>&nbsp;»
                <span id="AdminTitle" d>博客设置/分类管理</span>
            </div>
            <% include adminMenu.ejs %>
            <div id="AdminContent">
                <div class="MainForm BlogCatalogManage">
                    <form id="CatalogForm" action="/addBlogType" method="post">
                        <h3> 添加博客分类 </h3>
                        <div id="error_msg" class="error_msg" style="display:none;"></div>
                        <label>分类名称:</label><input id="txt_link_name" name="typeName" size="15" tabindex="1"
                                                   type="text">
                        <label>排序值:</label><input name="sort_order" value="0" size="3" type="text">
                        <span class="submit">
          <input value="添加&nbsp;»" tabindex="3" class="BUTTON SUBMIT" type="submit">
        </span>
                    </form>
                    <form class="BlogCatalogs">
                        <h3>博客分类 <span>(点击分类名编辑)</span></h3>
                        <table cellpadding="1" cellspacing="1">
                            <tbody>
                            <tr>
                                <th>序号</th>
                                <th>分类名</th>
                                <th>文章</th>
                                <th>操作</th>
                            </tr>
                            <%
                            for(var i = 0; i < types.length; i++){
                            %>
                            <tr>
                                <td class="idx"><%= types[i].type_id %></td>
                                <td class="name"><a href="editCatalog.htm"
                                                    title="点击修改博客分类"><%= types[i].type_name %></a></td>
                                <td class="num">3</td>
                                <td class="opts">
                                    <a href="editCatalog.htm" title="点击修改博客分类">修改</a>
                                    <a href="#" onclick="return delete_catalog(154693,92334);">删除</a>
                                </td>
                            </tr>
                            <%
                            }
                            %>

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div id="OSC_Footer">© 唯创网讯</div>
        </div>

</body>
</html>