<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>Johnny的博客 - SYSIT个人博客</title>
    <link rel="stylesheet" href="/stylesheets/space2011.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.css" media="screen">
    <script type="text/javascript" src="/javascripts/jquery-1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery_002.js"></script>
    <script type="text/javascript" src="/javascripts/oschina.js"></script>
    <style type="text/css">
        body, table, input, textarea, select {
            font-family: Verdana, sans-serif, 宋体;
        }
    </style>
</head>
<body>
<!--[if IE 8]>
<style>ul.tabnav {
    padding: 3px 10px 3px 10px;
}</style>
<![endif]-->
<!--[if IE 9]>
<style>ul.tabnav {
    padding: 3px 10px 4px 10px;
}</style>
<![endif]-->
<div id="OSC_Screen"><!-- #BeginLibraryItem "/Library/OSC_Banner.lbi" -->
    <% include header.ejs %>
    <div id="OSC_Content">
        <div class="SpaceChannel">
            <div id="portrait"><a href="adminIndex.htm"><img src="/images/portrait.gif" alt="Johnny" title="Johnny"
                                                             class="SmallPortrait" user="154693" align="absmiddle"></a>
            </div>
            <div id="lnks">
                <strong>Johnny的博客</strong>
                <div>
                    <a href="#">TA的博客列表</a>&nbsp;|
                    <a href="sendMsg.htm">发送留言</a>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="BlogList">
            <ul>
                <li class='Blog' id='blog_24027'>

                    <h2 class='BlogAccess_true BlogTop_0'><a href="/viewPost">测试文章3</a></h2>

                    <div class='outline'>

                        <span class='time'>发表于 2011年06月18日 0:34</span>

                        <span class='catalog'>分类: <a href="?catalog=92334">工作日志</a></span>

                        <span class='stat'>统计: 0评/0阅</span>

                    </div>

                    <div class='TextContent' id='blog_content_24027'>

                        测试文章3

                        <div class='fullcontent'><a href="viewPost_comment.htm">阅读全文...</a></div>

                    </div>

                </li>
                <li class="Blog" id="blog_24026">
                    <h2 class="BlogAccess_true BlogTop_0"><a href="viewPost_logined.htm">测试文章2</a></h2>
                    <div class="outline">
                        <span class="time">发表于 2011年06月17日 23:06</span>
                        <span class="catalog">分类: <a href="#">工作日志</a></span>
                        <span class="stat">统计: 0评/1阅</span>
                    </div>
                    <div class="TextContent" id="blog_content_24026">
                        测试文章1
                        <div class="fullcontent"><a href="viewPost.htm">阅读全文...</a></div>
                    </div>
                </li>
                <li class="Blog" id="blog_24025">
                    <h2 class="BlogAccess_true BlogTop_0"><a href="viewPost.htm">测试文章1</a></h2>
                    <div class="outline">
                        <span class="time">发表于 2011年06月17日 23:04</span>
                        <span class="catalog">分类: <a href="#">工作日志</a></span>
                        <span class="stat">统计: 0评/3阅</span>
                    </div>
                    <div class="TextContent" id="blog_content_24025">
                        <b>测试文章1</b>
                        <div class="fullcontent"><a href="viewPost.htm">阅读全文...</a></div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="BlogMenu">
            <div class="catalogs SpaceModule">
                <strong>博客分类</strong>
                <ul class="LinkLine">
                    <li><a href="#">工作日志(2)</a></li>
                    <li><a href="#">日常记录(0)</a></li>
                    <li><a href="#">转贴的文章(0)</a></li>
                </ul>
            </div>
            <div class="comments SpaceModule">
                <strong>最新网友评论</strong>
                <p class="NoData">目前还没有任何评论</p>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript" src="/javascripts/brush.js"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/shCore.css">
        <link type="text/css" rel="stylesheet" href="/stylesheets/shThemeDefault.css">
    </div>
    <div class="clear"></div>
    <div id="OSC_Footer">© 唯创网讯</div>
</div>
</body>
</html>