<!DOCTYPE html>
<html>
  <head>
    <title>welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="nav">
        <div id="login">
          <a href="/users/login">登录</a> | <a href="/users/regist">注册</a>
        </div>
      </div>
      welcome <%=uname?uname:'游客'%>
  </body>
</html>
